<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="Question" class="com.example.hw1zelim.model.Question">

    </bean>

    <bean id="QuestionDaoImpl" class="com.example.hw1zelim.dao.QuestionDaoImpl">
        <constructor-arg name="pathCsv" value="questions.csv"/>
    </bean>

    <bean id="ServiceImpl" class="com.example.hw1zelim.service.PrintServiceImpl">
        <constructor-arg name="questionDao" ref="QuestionDaoImpl"/>

    </bean>
</beans>